.nav-item{
    margin:  0 1.4rem;
}
.btn{
  margin: 0.2rem;
}
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.navbar .navbar-nav .nav-link {
  color: #000000;
  font-size: 1.1em;
}
.navbar .navbar-nav .nav-link {
  color: #000000;
}
.navbar .navbar-nav .nav-item {
  position: relative;
}
/* .navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #000000;
  width: 0%;
  content: "";
  height: 4px;
 
} */

/* .navbar .navbar-nav .nav-item:hover::after {
  width: 100%;
} */
.nav-link{
  color: black;
  
}


.active::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #000000;
  width: 100%;
  content: "";
  height: 4px;
 
}
.active{
  color: blue !important;
  
}
