.property {
  position: absolute;
  top: 700%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: #fff;
}
.newbtn{
    border: 1px solid white;
    border-radius: 50%;
    color: red;
}