.containers{
    position: absolute;
    top: 700%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: #fff;
}

.mainuserprofile{
    width: 50%;
}
     
.p-h1-t{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}