*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.App{
    padding-bottom: 10px;
}

.main-home{
    position: relative;
    margin: 1rem;
    margin-top: 3.5rem;
}
/* .App-header{
    display: flex;
    padding-right: 1rem;
    margin-right: 2rem;
} */
